.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--main-border-radius);
    background-color: #fff;
    color: var(--main-green-color);
    transition: all 0.25s ease-in;
    border: 1px solid var(--main-green-color);
    padding: 8px 48px;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: var(--main-green-color);
        color: #fff;
        transition: all 0.25s ease-in;
    }
}




.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    column-gap: 220px;
    height: 267px;
    width: 100%;
    .logoCircle {
        position: absolute;
        left: 0;
        top: -50px;
        height: 316px;
        width: 316px;
        background-color: var(--main-green-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 88px;
            li {
                color: var(--main-green-color);
                font-size: 18px;
                font-weight: 400;
                line-height: 28.13px;
            }
        }
    }
    .cartIcon {
        position: relative;
        cursor: pointer;
        .badge {
            position: absolute;
            right: -15px;
            top: -5px;
            background: var(--main-red-color);
            border-radius: 50%;
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
        }
    }
}