:root {
  --main-green-color: #688800;
  --secondary-green-color: #009246;
  --mian-grey-color: #4A4A4A;
  --main-border-radius: 50px;
  --main-red-color: #D73A31;
};

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 100%;
  width: 1500px;
  margin: 0 auto;
}
